body {
  background-color: #e7e6e6;
}
span {
  font-size: x-large;
}
h1 {
}
img {
  width: 100%;
  height: 30%;
}
div {
  background-color: #fff;
  margin-left: 20%;
  margin-right: 20%;
}
li {
  font-size: xx-large;
}
table {
  border-collapse: collapse;
}
td {
  background-color: pink;
  text-align: center;
  height: 3vw;
  width: 25vw;
  font-size: x-large;
}
a {
  color: rgb(246, 158, 95);
  text-decoration: none;
}
#div3 {
  background-color: #e7e6e6;
  height: 20px;
}
